body {
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}
input, textarea {
    font-size: 14px;
    width: 100%;
    margin: 0.3rem 0;
    padding: 0.5rem;
}

button {
    margin-right: 0.5rem;
}
#event-list {
    padding: 0;
    list-style: none;
}
.event-item {
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 0.5rem 0;
}
.event-item button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    color: red;
    cursor: pointer;
    font-weight: bold;
}